* {
	margin: 0;
	padding: 20px;
  box-sizing: border-box;
}


div {
    width: 300px;
    height: 150px;
    background-color: #d3eaff;
    padding: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    padding-bottom: 50px;
    border-color: #333;
    border: 5px;
    border-style: solid;
}
